<html>
<head>
<title>Node with MongoDB Demo</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/site.css">
<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/highcharts.js"></script>
</head>
<body>
  <div id="content_wrapper">
    <div id="title">Node with Mongo Demo</div>
    <div id="content">
      <%- body%>
    </div>
  </div>
</body>
</html>
